In [1]:
import sys
import pandas as pd #'1.0.4'
import numpy as np
import re

In [2]:
#d = pd.read_csv("../Data/Final_Data.csv")

In [3]:
#d.head()

In [4]:
#df = pd.read_csv("../Data/1_HH_23_4_18_DCIM/all.csv")

In [5]:
#df = df.sort_values('FileName')
#df.head()

In [6]:
d = pd.read_csv("../Data/Camera.csv")

In [7]:
d.SourceFile = d.SourceFile.str.extract(r'(\d+_.*)')

In [8]:
len(d)
#d.head()

418745

In [9]:
df = pd.read_csv("../Data/Merged_Data.csv")

In [10]:
df.head()
#len(df)

                              SourceFile            CreateDate      Keywords
0  100_HH_11_5_18100_BTCF_T/IMG_0001.JPG  2018:05:03  15:22:40  placeID: 100
1  100_HH_11_5_18100_BTCF_T/IMG_0002.JPG  2018:05:03  15:22:44  placeID: 100
2  100_HH_11_5_18100_BTCF_T/IMG_0003.JPG  2018:05:03  15:22:45  placeID: 100
3  100_HH_11_5_18100_BTCF_T/IMG_0004.JPG  2018:05:03  15:22:46  placeID: 100
4  100_HH_11_5_18100_BTCF_T/IMG_0005.JPG  2018:05:03  15:22:46  placeID: 100

In [11]:
df2 = pd.merge(df, d, on = "SourceFile")

In [12]:
df2.head()

,SourceFile,CreateDate,Keywords,Make,Model,Sequence
0,100_HH_11_5_18100_BTCF_T/IMG_0001.JPG,2018:05:03 15:22:40,placeID: 100,Prometheus,BTC5HDP,NaN
1,100_HH_11_5_18100_BTCF_T/IMG_0002.JPG,2018:05:03 15:22:44,placeID: 100,Prometheus,BTC5HDP,NaN
2,100_HH_11_5_18100_BTCF_T/IMG_0003.JPG,2018:05:03 15:22:45,placeID: 100,Prometheus,BTC5HDP,NaN
3,100_HH_11_5_18100_BTCF_T/IMG_0004.JPG,2018:05:03 15:22:46,placeID: 100,Prometheus,BTC5HDP,NaN
4,100_HH_11_5_18100_BTCF_T/IMG_0005.JPG,2018:05:03 15:22:46,placeID: 100,Prometheus,BTC5HDP,NaN

In [13]:
#df.CreateDate

In [14]:
df2.to_csv("../Data/Merged_Data.csv", index = False)

In [15]:
d.merge

<bound method DataFrame.merge of                                  SourceFile        Make            Model  \
0       116_HH_1_6_18/100_BTCF/IMG_0738.JPG  Prometheus          BTC5HDP
1       116_HH_1_6_18/100_BTCF/IMG_0461.JPG  Prometheus          BTC5HDP
2       116_HH_1_6_18/100_BTCF/IMG_0091.JPG  Prometheus          BTC5HDP
3       116_HH_1_6_18/100_BTCF/IMG_0397.JPG  Prometheus          BTC5HDP
4       116_HH_1_6_18/100_BTCF/IMG_0060.JPG  Prometheus          BTC5HDP
...                                     ...         ...              ...
418740  40_HH_17_5_18/100RECNX/IMG_0040.JPG     RECONYX  HC500 HYPERFIRE
418741  40_HH_17_5_18/100RECNX/IMG_0491.JPG     RECONYX  HC500 HYPERFIRE
418742  40_HH_17_5_18/100RECNX/IMG_0293.JPG     RECONYX  HC500 HYPERFIRE
418743  40_HH_17_5_18/100RECNX/IMG_0596.JPG     RECONYX  HC500 HYPERFIRE
418744  40_HH_17_5_18/100RECNX/IMG_0163.JPG     RECONYX  HC500 HYPERFIRE

        Sequence
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
418740  10 of 10
418741   1 of 10
418742   3 of 10
418743   6 of 10
418744   3 of 10

[418745 rows x 4 columns]>