In [1]:
import sys
import pandas as pd #'1.0.4'
import numpy as np
import re

In [2]:
#d = pd.read_csv("../Data/Final_Data.csv")

In [3]:
#d.head()

In [4]:
#df = pd.read_csv("../Data/1_HH_23_4_18_DCIM/all.csv")

In [5]:
#df = df.sort_values('FileName')
#df.head()

In [2]:
d = pd.read_csv("../Data/Camera.csv")

In [3]:
d.SourceFile = d.SourceFile.str.extract(r'(\d+_.*)')

In [4]:
len(d)

418745

In [5]:
df = pd.read_csv("../Data/Merged_Data.csv")

In [6]:
df.head()

,SourceFile,CreateDate,Keywords
0,35_HH_23_4_18_DCIM_moved/100_BTCF/IMG_0082.JPG,2018:04:20 02:39:10,placeID: 35
1,35_HH_23_4_18_DCIM_moved/100_BTCF/IMG_0495.JPG,2018:04:24 00:46:05,placeID: 35
2,35_HH_23_4_18_DCIM_moved/100_BTCF/IMG_0381.JPG,2018:04:22 20:35:21,placeID: 35
3,35_HH_23_4_18_DCIM_moved/100_BTCF/IMG_0325.JPG,2018:04:22 00:16:25,placeID: 35
4,35_HH_23_4_18_DCIM_moved/100_BTCF/IMG_0211.JPG,2018:04:20 07:44:12,"placeID: 35, species1: Dog"

In [7]:
df2 = pd.merge(d, df, on = "SourceFile")

In [8]:
df2.head()

,SourceFile,Make,Model,CreateDate,Keywords
0,116_HH_1_6_18/100_BTCF/IMG_0738.JPG,Prometheus,BTC5HDP,NaN,NaN
1,116_HH_1_6_18/100_BTCF/IMG_0461.JPG,Prometheus,BTC5HDP,NaN,NaN
2,116_HH_1_6_18/100_BTCF/IMG_0091.JPG,Prometheus,BTC5HDP,NaN,NaN
3,116_HH_1_6_18/100_BTCF/IMG_0397.JPG,Prometheus,BTC5HDP,NaN,NaN
4,116_HH_1_6_18/100_BTCF/IMG_0060.JPG,Prometheus,BTC5HDP,NaN,NaN

In [9]:
df2.to_csv("../Data/Merged_Data.csv", index = False)

In [1]:
import os
import pandas as pd #'1.0.4'

In [2]:
d = []
for i, filename in enumerate(os.listdir('../Data/test/')):
    #print(filename)
    d.append(filename)
    with open('../Data/test/' +filename, 'rb') as imageFile:
        if not imageFile.read().startswith(b'\xff\xd8'):
            print(f"{i}: {filename} - found!")
            #print(imageFile.read())
            #print(1)
df = pd.DataFrame(d,columns=['SourceFile'])

In [29]:
d = []
for i, filename in enumerate(os.listdir('../Data/test/')):
    #print(filename)
    d.append(filename)
    with open('../Data/test/' +filename, 'rb') as imageFile:
        if imageFile.read().startswith(b'\xff\xd8'):
            print(f"{i}: {filename} - found!")
        imageFile.seek(-2, 2)
        if imageFile.read() == b'\xff\xd9':
            print(f"{i}: {filename} - found!")
        #print(str(imageFile.read()[-3:]))
df = pd.DataFrame(d,columns=['SourceFile'])

0: 54_HH_17_5_18+101RECNX+IMG_0652.JPG - found!
0: 54_HH_17_5_18+101RECNX+IMG_0652.JPG - found!
1: 43_HH_25_06_18+DCIM+100_BTCF+IMG_8560.JPG - found!
1: 43_HH_25_06_18+DCIM+100_BTCF+IMG_8560.JPG - found!
2: 137_HH_17_5_18_T+102RECNX+IMG_1034.JPG - found!
2: 137_HH_17_5_18_T+102RECNX+IMG_1034.JPG - found!
3: IMG_0722.JPG - found!
3: IMG_0722.JPG - found!
4: 5_HH_23_4_18_DCIM+100RECNX+IMG_2415.JPG - found!
4: 5_HH_23_4_18_DCIM+100RECNX+IMG_2415.JPG - found!

In [ ]:
        f.seek(-2, 2)
        buf = f.read()
        return buf == b'\xff\xd9'

In [36]:
a = 3 + 6j
b = 2 + 3j
c = 1j

(-1+0j)