In [1]:
import sys
import pandas as pd #'1.0.4'
import scipy as sc
import numpy as np
import re
import shutil
from datetime import datetime
#get first image of every squence

In [2]:
int_low = 7#time interval
int_up = 19
seq_interval = 45 #every 45 seconds

In [3]:
d = pd.read_csv("../Data/SkeletonCount.csv")
d.insert(0, "Folder", d.SourceFile.str.extract(r'(\d+_.*)IMG'))
d.insert(1, "ImageId", d.SourceFile.str.extract(r'IMG_(\d*).JPG'))

In [4]:
d = d.loc[(d["h"] >= 7) & (d["h"] <= 19)]

In [5]:
d

,Folder,ImageId,SourceFile,Count,CreateDate,h,placeID
0,6_HH_1_5_18_DCIM/100RECNX/,3428,6_HH_1_5_18_DCIM/100RECNX/IMG_3428.JPG,2,2018:04:25 16:33:55,16.0,6
1,97_HH_15_06_18/102RECNX/,2673,97_HH_15_06_18/102RECNX/IMG_2673.JPG,1,2018:06:14 13:45:09,13.0,97
2,96_HH_15_06_18/100RECNX/,0672,96_HH_15_06_18/100RECNX/IMG_0672.JPG,1,2018:06:05 17:29:25,17.0,96
3,34_HH_1_6_18/100_BTCF/,2135,34_HH_1_6_18/100_BTCF/IMG_2135.JPG,1,2018:05:18 15:44:49,15.0,34
4,97_HH_15_06_18/100RECNX/,6217,97_HH_15_06_18/100RECNX/IMG_6217.JPG,1,2018:06:08 10:28:05,10.0,97
...,...,...,...,...,...,...,...
70949,74_HH_2_5_18_BTCF/,1556,74_HH_2_5_18_BTCF/IMG_1556.JPG,1,2018:04:23 13:34:22,13.0,74
70950,35_HH_1_6_18/100_BTCF/,3683,35_HH_1_6_18/100_BTCF/IMG_3683.JPG,1,2018:05:19 18:56:13,18.0,35
70951,65_HH_23_5_18/,6429,65_HH_23_5_18/IMG_6429.JPG,2,2018:05:20 16:45:18,16.0,65
70952,5_HH_23_4_18_DCIM/100RECNX/,3748,5_HH_23_4_18_DCIM/100RECNX/IMG_3748.JPG,1,2018:04:23 09:59:51,9.0,5
70953,97_HH_15_06_18/101RECNX/,2502,97_HH_15_06_18/101RECNX/IMG_2502.JPG,1,2018:06:10 11:31:13,11.0,97

In [ ]:
f = d["Folder"].unique()[0]
f

In [ ]:
subd = d.loc[d["Folder"] == f].sort_values(by=['ImageId']).reset_index().drop(columns =["index"])
subd

In [ ]:
image_list = []
#subd.loc[i]["CreateDate"]
len(subd)

In [ ]:
i = 0
#current = subd.loc[0]["SourceFile"]
#image_list.append(current)
while i < len(subd):
    current = subd.loc[i]["SourceFile"]
    image_list.append(current)
    t1 = datetime.strptime(subd.loc[i]["CreateDate"], '%Y:%m:%d %H:%M:%S')
    j = i + 1
    if j < len(subd):
        t2 = datetime.strptime(subd.loc[j]["CreateDate"], '%Y:%m:%d %H:%M:%S')
        diff = (t2 - t1).total_seconds()
        while (diff < seq_interval) & (j < len(subd) - 1):
            j = j + 1
            t2 = datetime.strptime(subd.loc[j]["CreateDate"], '%Y:%m:%d %H:%M:%S')
            diff = (t2 - t1).total_seconds()   
    i = j

In [ ]:
len(image_list)

In [ ]:
a = ["a", "b", "c", "d"]
b = ["b", "c"]

In [ ]:
list(set(a).difference(b))

In [ ]:
from datetime import datetime

In [ ]:
date = "2018:04:22 15:33:29"
date2 = "2018:04:22 13:33:29"

In [ ]:
datetime_object = datetime.strptime(date, '%Y:%m:%d %H:%M:%S')
date2 = datetime.strptime(date2, '%Y:%m:%d %H:%M:%S')

In [ ]:
(date2 - datetime_object).total_seconds()

In [ ]:
date2 - datetime_object

In [ ]:
list1 = [int("0762"), int("001"), int("0002"), int("0100")]
list1.sort()
list1

In [8]:
l1 = list(d["SourceFile"].unique()[0:5])

In [12]:
df = pd.read_csv("../Data/Seq_first_ske.csv")

In [14]:
len(df)

12794

In [20]:
f = df["Folder"].unique()[50]
subd = df.loc[df["Folder"] == f].sort_values(by=['ImageId']).reset_index().drop(columns =["index"])

In [21]:
subd

,Folder,ImageId,SourceFile,Count,CreateDate,h,placeID
0,46_HH_1_5_18_100_BTCF/,6,46_HH_1_5_18_100_BTCF/IMG_0006.JPG,1,2017:04:26 16:07:17,16.0,46
1,46_HH_1_5_18_100_BTCF/,26,46_HH_1_5_18_100_BTCF/IMG_0026.JPG,2,2017:04:26 17:01:01,17.0,46
2,46_HH_1_5_18_100_BTCF/,41,46_HH_1_5_18_100_BTCF/IMG_0041.JPG,1,2017:04:26 17:01:56,17.0,46
3,46_HH_1_5_18_100_BTCF/,91,46_HH_1_5_18_100_BTCF/IMG_0091.JPG,1,2017:04:26 17:04:20,17.0,46
4,46_HH_1_5_18_100_BTCF/,96,46_HH_1_5_18_100_BTCF/IMG_0096.JPG,1,2017:04:26 17:08:06,17.0,46
...,...,...,...,...,...,...,...
106,46_HH_1_5_18_100_BTCF/,996,46_HH_1_5_18_100_BTCF/IMG_0996.JPG,1,2017:05:01 14:47:16,14.0,46
107,46_HH_1_5_18_100_BTCF/,1001,46_HH_1_5_18_100_BTCF/IMG_1001.JPG,1,2017:05:01 14:59:22,14.0,46
108,46_HH_1_5_18_100_BTCF/,1007,46_HH_1_5_18_100_BTCF/IMG_1007.JPG,1,2017:05:01 15:05:37,15.0,46
109,46_HH_1_5_18_100_BTCF/,1017,46_HH_1_5_18_100_BTCF/IMG_1017.JPG,1,2017:05:01 15:37:11,15.0,46
110,46_HH_1_5_18_100_BTCF/,1031,46_HH_1_5_18_100_BTCF/IMG_1031.JPG,1,2017:05:01 17:24:30,17.0,46

In [22]:
pd.DataFrame(
    [[[1, 2, 3, 4], [2, 3, 4, 5], [4, 5, 5, 6], [6, 3, 4, 5]],
     [[2, 3, 5, 6], [3, 4, 6, 6], [3, 4, 5, 7], [2, 6, 3, 4]],
     [[8, 9, 6, 7], [5, 7, 9, 5], [3, 7, 9, 5], [5, 7, 9, 8]]],
    columns=list('ABCD')
)

              A             B             C             D
0  [1, 2, 3, 4]  [2, 3, 4, 5]  [4, 5, 5, 6]  [6, 3, 4, 5]
1  [2, 3, 5, 6]  [3, 4, 6, 6]  [3, 4, 5, 7]  [2, 6, 3, 4]
2  [8, 9, 6, 7]  [5, 7, 9, 5]  [3, 7, 9, 5]  [5, 7, 9, 8]