In [1]:
"""Merge calibration data into the original dataset"""
import pandas as pd #'1.0.4'

In [2]:
d = pd.read_csv("../Data/data.csv")

In [3]:
cali = pd.read_csv("../Data/Cali.csv")

In [4]:
len(cali)

57634

In [5]:
d.SourceFile = d.SourceFile.str.extract(r'(\d+_.*)')

In [6]:
df = pd.read_csv("../Data/Cali_Simp.csv")

In [7]:
df.head()

                                SourceFile            CreateDate     Keywords
0  58_HH_2_5_18_BTCF/100_BTCF/IMG_0001.JPG  2018:04:19  13:09:46  placeID: 58
1  58_HH_2_5_18_BTCF/100_BTCF/IMG_0002.JPG  2018:04:19  13:09:47  placeID: 58
2  58_HH_2_5_18_BTCF/100_BTCF/IMG_0005.JPG  2018:04:19  13:09:48  placeID: 58
3  58_HH_2_5_18_BTCF/100_BTCF/IMG_0004.JPG  2018:04:19  13:09:48  placeID: 58
4  58_HH_2_5_18_BTCF/100_BTCF/IMG_0003.JPG  2018:04:19  13:09:48  placeID: 58

In [8]:
#d.loc[d.SourceFile.isin(df.SourceFile),]
d.SourceFile.isin(df.SourceFile).value_counts()

False    364347
True      54398
Name: SourceFile, dtype: int64

In [9]:
d.loc[d.SourceFile.isin(df.SourceFile), ['CreateDate', 'Keywords']] = df[['CreateDate', 'Keywords']]

In [9]:
#df1 = df.loc[~df.SourceFile.isin(d.SourceFile),]
#df2 = pd.concat([d, df1], ignore_index=True)

In [16]:
#df2.to_csv("../Data/Merged_Data.csv", index = False)
d.to_csv("../Data/Merged_Data.csv", index = False)

In [11]:
df.loc[~df.SourceFile.isin(d.SourceFile),]#cali data that does not exist
                                         # in the original data 3236
#len(df)#57634

                                 SourceFile            CreateDate     Keywords
38994  71_HH_1_6_18_T/100_BTCF/IMG_0002.JPG  2018:05:02  12:14:49  placeID: 71
38995  71_HH_1_6_18_T/100_BTCF/IMG_0001.JPG  2018:05:02  12:14:49  placeID: 71
38996  71_HH_1_6_18_T/100_BTCF/IMG_0004.JPG  2018:05:02  12:14:50  placeID: 71
38997  71_HH_1_6_18_T/100_BTCF/IMG_0003.JPG  2018:05:02  12:14:50  placeID: 71
38998  71_HH_1_6_18_T/100_BTCF/IMG_0006.JPG  2018:05:02  12:14:52  placeID: 71
...                                     ...                   ...          ...
57629  77_HH_1_6_18_T/100_BTCF/IMG_1027.JPG  2018:05:31  12:31:38  placeID: 77
57630  77_HH_1_6_18_T/100_BTCF/IMG_1029.JPG  2018:05:31  12:31:39  placeID: 77
57631  77_HH_1_6_18_T/100_BTCF/IMG_1030.JPG  2018:05:31  12:31:40  placeID: 77
57632  77_HH_1_6_18_T/100_BTCF/IMG_1032.JPG  2018:05:31  12:31:41  placeID: 77
57633  77_HH_1_6_18_T/100_BTCF/IMG_1031.JPG  2018:05:31  12:31:41  placeID: 77

[3236 rows x 3 columns]

In [12]:
#df.head()

In [13]:
a = df.loc[~df.SourceFile.isin(d.SourceFile),]
a["SourceFile"].str.extract("(\d+_HH_.*)/").squeeze().unique()

array(['71_HH_1_6_18_T/100_BTCF', '129_HH_17_5_18_T/100_BTCF',
       '75_HH_2_5_18_BTCF_T/100_BTCF', '65_HH_23_5_18',
       '77_HH_1_6_18_T/100_BTCF'], dtype=object)

In [14]:
#cali.loc[cali["SourceFile"].str.match(r"71_HH_1_6_18_T/100_BTCF"),]